<%- include('header') %>

  <main>
    <div class="grid-row">
      <% mydata.forEach((toy)=> { %>
      <div class="grid-item">
        <%= toy.title.slice(0, 30) %>
        <%= //toy.title %>
        <div class="b"><a href= <%= toy.url %> target="_blank">
          buy
        </a></div>

      </div>
      <% }) %>
    </div>
  </main>

<%- include('footer') %>




